body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #03AED2;
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.auth-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}
.navbar .nav-link{
    color: #f8f8f8;

}
.navbar .nav-link:hover{
    cursor: pointer;
}
.navbar .dropdown-menu{
    background-color: #03AED2;
}
.navbar .dropdown-item{
    color: white;
    font-size: larger;
}
.navbar .dropdown-item:hover{
    background-color: #03AED2;
    cursor: pointer;
}
.navbar .nav-item{
    font-size: larger;
}

.image-scroll {
    width: 100%;
    overflow: hidden;
    background-color: #FEEFAD;
    padding: 20px 0;
}



@keyframes scroll-lift {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.scroll-container img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.about, .goals {
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about h2 {
    font-weight: bold;
}
.about p {
    font-size: larger;
}
.goals h2 {
    font-weight: bold;
}
.goals ul {
    font-size: larger;
}

ul {
    padding-left: 1.5rem;
}

.join-button {
    display: flexbox;
    width: 200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: blue;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.join-button:hover {
    background-color: rgb(0, 0, 161);
}


.footeree{
    background:white;
    font-family: 'Play', sans-serif;
    text-align:center;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    }
    
    .footeree .rowee{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color: #03AED2;
    font-size:medium;
    }
    
    .footeree .rowee a{
    text-decoration:none;
    color: #03AED2;
    transition:0.5s;
    font-size: medium;
    }
    
    .footeree .rowee a:hover{
    color:blue;
    }
    
    .footeree .rowee ul{
    width:100%;
    }
    
    .footeree .rowee ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footeree .rowee a i{
    font-size:1em;
    margin:0% 1%;
    }

    
    @media (max-width:720px){
    .footeree{
    text-align:left;
    padding:5%;
    }
    .footeree .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footeree .row a i{
    margin:0% 3%;
    }
    }

    select {
        background-color: #ffffd8;
        color: #333;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    select:hover {
        background-color: #e6e6e6;
        border-color: #bbb;
    }
    
    select:focus {
        outline: none;
        background-color: #e0f7fa;
        border-color: #00acc1;
    }
    
    option {
        background-color: #f0f0f0;
        color: #333;
        padding: 10px;
        font-size: 16px;
    }
    
    /* تنسيق الحاوية العامة */
    .language-selector {
       
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    body.arabic  {
        direction: rtl; /* تغيير اتجاه النص للعربية */
        
    }
    
    body.english {
        direction: ltr; /* اتجاه النص للإنجليزية */
        
    }
    body.english .scroll-container{
        display: flex;
        animation: scroll-lift 30s linear infinite;
    }
    body.arabic .scroll-container{
        display: flex;
        animation: scroll-right 30s linear infinite;
    }