* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.navbar .nav-link{
    color: #f8f8f8;

}
.navbar .nav-link:hover{
    cursor: pointer;
}
.navbar .dropdown-menu{
    background-color: #03AED2;
}
.navbar .dropdown-item{
    color: white;
    font-size: larger;
}
.navbar .dropdown-item:hover{
    background-color: #03AED2;
    cursor: pointer;
}
.navbar .nav-item{
    font-size: larger;
}
body {
    font-family:  monospace;
    line-height: 1.6;
   
    background-color: #ece3d4;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin:  auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color: #03AED2;
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.auth-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}

/* Button styles */
/* .btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn{
    background-color: transparent;
    border: 1px solid hsl(36, 45%, 11%);
    color: hsl(36, 45%, 11%);
}
.btn:hover{
    background-color: hsl(36, 45%, 60%);
    color: white;
}

.btn {
    background-color: hsl(36, 45%, 70%);
    color: hsl(36, 45%, 11%);
}

.btn:hover {
    background-color: hsl(36, 45%, 60%);
    color: white;
}

.btn {
    background-color: transparent;
    border: 1px solid hsl(36, 45%, 11%);
    color: #291f0f;
}

.btn:hover {
    background-color: #c7a26b;
    color: white;
}
*/

/* Main content styles */
main {
    flex-grow: 1;
    padding: 2rem 0;
    padding-top: 100px;
}

.welcome-card {
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    
}

.welcome-content {
    padding: 2rem;
}

.welcome-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: hsl(36, 45%, 11%);
    margin-bottom: 1rem;
}

.welcome-content p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.welcome-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.services-title {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 3.5rem;
}

.service-card {
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.service-content {
    padding: 1rem;
}

.service-content h3 {
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}
.service-content p {
    font-size: 1.5rem;
}

.service-footer {
    padding: 1rem;
    background-color: white;
}

/* Footer styles */
.footeree{
    background:white;
    font-family: 'Play', sans-serif;
    text-align:center;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    }
    
    .footeree .rowee{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color: #03AED2;
    font-size:medium;
    }
    
    .footeree .rowee a{
    text-decoration:none;
    color: #03AED2;
    transition:0.5s;
    font-size: medium;
    }
    
    .footeree .rowee a:hover{
    color:blue;
    }
    
    .footeree .rowee ul{
    width:100%;
    }
    
    .footeree .rowee ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footeree .rowee a i{
    font-size:1em;
    margin:0% 1%;
    }

    
    @media (max-width:720px){
    .footeree{
    text-align:left;
    padding:5%;
    }
    .footeree .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footeree .row a i{
    margin:0% 3%;
    }
    }