/* Root variables for color and design */
:root {
    --background: #FEEFAD;
    --foreground: black;
    --primary: hsl(36, 45%, 70%);
    --primary-foreground: hsl(36, 45%, 11%);
    --secondary: hsl(40, 35%, 77%);
    --accent: hsl(36, 64%, 57%);
    --muted: hsl(36, 33%, 75%);
    --border: hsl(36, 45%, 60%);
    --radius: 0.5rem;
    --font-sans-serif: 'DM Sans', sans-serif;
    --font-monospace: 'Space Mono', monospace;
}

/* Global styles */
body {
    font-family: var(--font-monospace);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("/imeges/backgrounds/colorful-stingrays.svg");
}

.logo {
    margin-right: 100px;
    height: 411px;
    width: 411px;
}

.logo img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Card container */
.card {
    background-color: #FDDE55;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 3rem;
    text-align: center;
}

/* Header styles */
.header h3 {
    font-family: var(--font-sans-serif);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.header p {
    font-family: var(--font-sans-serif);
    font-size: 1rem;
    color: var(--primary-foreground);
}

/* Input groups */
.input-group {
    margin-bottom: 1rem;
    text-align: start;
}

.input-group label {
    display: block;
    font-family: var(--font-sans-serif);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: start;
}

.input-group input {
    width: 90%;
    height: 2.5rem;
    padding: 0 0.75rem;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    font-size: 1rem;
    font-family: var(--font-monospace);
    color: var(--foreground);
    background-color: white;
}

.input-group input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px var(--primary);
}

/* Action button */
.actions button {
    width: 80%;
    padding: 0.75rem;
    background-color: #03AED2;
    color: white;
    border: none;
    border-radius: var(--radius);
    font-family: var(--font-sans-serif);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.actions button:hover {
    background-color: #006EB4;
    color: white;
}